.signup-form {
    position: relative;
    left: 37%;
    top: 100px;
  }
  
  .signup-form .input, h1, a {
    text-transform: capitalize;
  }
  
  .signup-form .form-group {
    margin-top: 15px;
  }
  
  input ~ p {
    color: red;
  }
  
  input {
    padding: 8.5px 10px;
    border-radius: 4px;
    border: #e9ecef 0.5px solid;
    width: 340px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  input:focus {
    outline: none;
  }
  
  .signup-indicaters {
    margin-bottom: 5px;
  }
  
  button {
    background-color: #D10024;
    color: #fff;
    padding: 8.5px 10px;
    border-radius: 4px;
    width: 340px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 13px;
    font-weight: 700;
  }
  
  .signup-user-assistance-links {
    position: relative;
    right: 160px;
    margin-bottom: 13px;
    margin-top: 13px;
    width: 130%;
  }
  
  .signup-register-link {
    position: relative;
    left: 55px;
  }
  
  .signup-content-wrapper {
    width: 100%;
    background-color: #1E1F29;
    color: #fff;
    padding: 42px;
    font-weight: 700;
    border-radius: 5px;
    text-transform: capitalize;
  }
  
  a {
    color: #D10024;
    text-decoration: none;
  }
  
  p {
    font-weight: 400;
  }
  
  .signup-cpassfiled {
    margin-top: -23px;
  }
  
  i {
    position: relative;
    right: -306px;
    top: -32px;
    color: red;
    font-size: 18px;
    
  }
  
  input ~ p {
    color: red;
  }
  